{{ define "main" }}
{{- if .Site.IsServer -}} {{ "<!-- Layout: _default/home.html -->" |safeHTML }} {{- end -}}


<div class="main-container">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4  col-sm-6">
          <div class="logo">
            <a href="/">LOGO</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="shipping-title">
            <p><b>Free Shipping:</b>  On orders over $25</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="cta-signin"><a href="#">Sign in</a></div>
        </div>
      </div>
    </div>
  </header>
  
  <section>
    <div class="container container-section">
      <div class="row">
        
        <div class="col-lg-8 offset-lg-1 col-md-6 col-sm-4">
          <div id="btn-div">
            <button class="btn cta-btn category-btn active">Men</button>
            <button class="btn cta-btn category-btn">Women</button>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <div class="cta-cart">
            <img src="/img/cart.svg" alt="">
          </div>
        </div>
      </div>

      <div class="row pad-t-30">
        <div class="col-lg-4 col-md-6">

          <div class="t-shirt-main-frame">
            <img  src="/img/t-shirts/blue.png" alt="">
          </div>

          <div class="sub-tshirt-frame">
            <p class="sub-tshirt-selector-title">Choose color:</p>
            <div class="row">
              <div class="col-lg-4 col-md-6 selection-tshirt">
                <div class="t-shirt-color-a tshirt-color active" id="blue">
                  <img src="/img/t-shirts/blue-gallery.png" alt="" class="tshirt-color-selector-img">
                  <p class="tshirt-color-selector-title">Blue</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 selection-tshirt">
                <div class="t-shirt-color-a tshirt-color" id="peach">
                  <img src="/img/t-shirts/dark-blue-gallery.png" alt="">
                  <p class="tshirt-color-selector-title">Dark Blue</p>
                </div>
              </div>

             

            </div>

          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-4">
          <div class="tshirt-detail-wrapper">
            <div class="men-detail-wrapper">
              <h3>T - Shirt for Men</h3>
              <ul class="t-shirt-description">
                <li> - 100% Polyester</li>
                <li> - 100% Polyester</li>
                <li> - Double Sided Print</li>
                <li> - The Super Soft Fabric Will Keep You Comfortable and Cool</li>
                <li> - Style Super Comfortable, Relaxed fit, Lightweight and fashionable</li>
                <li> - Please notice actual size information in the description picture before purchasing</li>
              </ul>
              <span class="t-shirt-price">$ 19.99</span>
            </div>
            <div class="tshirt-design-wrapper">
              <h2>Shirt Design:</h2>
              <div class="row">
                <div class="col-lg-3 col-sm-6 selection-tshirt">
                  <div class="t-shirts-gallery-img-frame tshirt-design active">
                    <img  src="/img/t-shirts/blue-gallery.png" alt="">
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 selection-tshirt">
                  <div class="t-shirts-gallery-img-frame tshirt-design">
                    <img src="/img/t-shirts/peach-gallery.png" alt="">
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 selection-tshirt">
                  <div class="t-shirts-gallery-img-frame tshirt-design">
                    <img src="/img/t-shirts/pink-gallery.png" alt="">
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 selection-tshirt">
                  <div class="t-shirts-gallery-img-frame tshirt-design">
                    <img  src="/img/t-shirts/dark-blue-gallery.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tshirt-size">
              <h2>Size:</h4>
              <div id="cta-size-wrapper">
                <button class="btn cta-size t-shirt-size">S</button>
                <button class="btn cta-size t-shirt-size">M</button>
                <button class="btn cta-size t-shirt-size">L</button>
                <button class="btn cta-size t-shirt-size">XL</button>
                <button class="btn cta-size t-shirt-size">XXL</button>
              </div>
            </div>
            <div class="tshirt-quantity">
              <h2>Quantity:</h2>
              <div id="btn-quantity-div">
                <button type="button" id="sub" class="btn sub">-</button>
                <input type="number" id="1" class="value" value="1" min="1" max="3" />
                <button type="button" id="add" class="btn add">+</button>
              </div>
            </div>
            <div class="tshirt-shipping-wrapper">
              <button type="button" id="buy-now" class="buy-now">Buy Now</button> &nbsp;
              <button type="button" id="add-to-cart" class="add-to-cart">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</div>


{{- if .Site.IsServer -}} {{ "<!-- Layout: _default/home.html -->" |safeHTML }} {{- end -}}
{{ end }}