<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery Link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- CSS File -->
    <link rel="stylesheet" href="style.css">
    <title>E-commerce</title>
  </head>
  <body>
    <div class="main-container">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 xol-md-4 col-sm-4">
              <div id="country">
                <!-- <h4>United States <img class="icon-dropdown" src="./resources/down-arrow.svg" alt=""></h4>                 -->
                <h4 id="branding">LOGO</h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div>
                <h4 class="shipping-title">Free Shipping <span>on orders over $35</span></h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <nav>
                <ul>
                  <li><a href="#">Sign In</a></li>
                  <!-- <li><a href="#">Wishlist</a></li> -->
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <section>
        <div class="container container-section">
          <div class="row pad-t-10">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4">
              <div>
                <!-- <h4 id="branding" class="pad-t-04">LOGO</h4> -->
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4">
              <div id="btn-div">
                <button class="btn btn-men active">Men</button>
                <button class="btn btn-women">Women</button>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="right pad-r-20 pad-t-04">
                <!-- <img class="icon-search" src="./resources/search.svg" alt=""> -->
                &nbsp;&nbsp;&nbsp;
                <img class="icon-cart" src="./resources/cart.svg" alt="">
              </div>
            </div>
          </div>
          <div class="row pad-t-30">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="t-shirt-main-frame">
                <img class="t-shirt-main-img" src="./resources/t-shirts/blue.png" alt="">
              </div>
              <div>
                <h5 class="t-shirt-color-title">Choose color:</h5>
                <div class="t-shirt-front-back-div">
                  <div class="t-shirt-color-a" id="demo" onclick="javascript:myFunction();">
                    <img src="./resources/t-shirts/blue-gallery.png" alt="">
                    <h5 class="t-shirt-front-back-title">Blue</h5>
                  </div>
                  &nbsp;&nbsp;
                  <div class="t-shirt-color-b">
                    <img src="./resources/t-shirts/blue-gallery.png" alt="">
                    <h5 class="t-shirt-front-back-title">Dark Blue</h5>
                  </div>
                  &nbsp;&nbsp;
                  <div class="t-shirt-color-c">
                    <img src="./resources/t-shirts/blue-gallery.png" alt="">
                    <h5 class="t-shirt-front-back-title">Light Blue</h5>
                  </div>
                  &nbsp;&nbsp;
                  <div class="t-shirt-color-d">
                    <img src="./resources/t-shirts/blue-gallery.png" alt="">
                    <h5 class="t-shirt-front-back-title">Sky Blue</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4">
              <div>
                <h3 class="t-shirt-title">T - Shirt for Men</h3>
                <ul class="t-shirt-description">
                  <li> - 100% Polyester</li>
                  <li> - 100% Polyester</li>
                  <li> - Double Sided Print</li>
                  <li> - The Super Soft Fabric Will Keep You Comfortable and Cool</li>
                  <li> - Style Super Comfortable, Relaxed fit, Lightweight and fashionable</li>
                  <li> - Please notice actual size information in the description picture before purchasing</li>
                </ul>
                <h3 class="t-shirt-price">$ 19.99</h3>
              </div>
              <div>
                <h4 class="t-shirt-color">Shirt Design:</h4>
                <div class="t-shirts-gallery">
                  <div class="t-shirts-gallery-img-frame">
                    <img class="t-shirts-gallery-img" src="./resources/t-shirts/dark-blue-gallery.png" alt="">
                  </div>
                  &nbsp;&nbsp;&nbsp;
                  <div class="t-shirts-gallery-img-frame">
                    <img class="t-shirts-gallery-img" src="./resources/t-shirts/peach-gallery.png" alt="">
                  </div>
                  &nbsp;&nbsp;&nbsp;
                  <div class="t-shirts-gallery-img-frame">
                    <img class="t-shirts-gallery-img" src="./resources/t-shirts/pink-gallery.png" alt="">
                  </div>
                  &nbsp;&nbsp;&nbsp;
                  <div class="t-shirts-gallery-img-frame">
                    <img class="t-shirts-gallery-img" src="./resources/t-shirts/blue-gallery.png" alt="">
                  </div>
                </div>
              </div>
              <div class="size-div">
                <h4 class="t-shirt-size">Size:</h4>
                <div id="btn-div">
                  <button class="btn btn-size active">S</button>
                  <button class="btn btn-size">M</button>
                  <button class="btn btn-size">L</button>
                  <button class="btn btn-size">XL</button>
                  <button class="btn btn-size">XXL</button>
                  <!-- <button class="btn btn-size">XXXL</button> -->
                  <!-- <button class="btn btn-size">4XL</button> -->
                  <!-- <button class="btn btn-size">5XL</button> -->
                </div>
              </div>
              <div class="quantity-div">
                <h4 class="t-shirt-quantity">Quantity:</h4>
                <div id="btn-quantity-div">
                  <button type="button" id="sub" class="btn sub">-</button>
                  <input type="number" id="1" class="value" value="1" min="1" max="3" />
                  <button type="button" id="add" class="btn add">+</button>
                </div>
              </div>
              <div class="shipping-div">
                <h4 class="shipping-title">Free Shipping: <span>On orders over $35</span></h4>
                <button type="button" id="buy-now" class="buy-now">Buy Now</button> &nbsp;
                <button type="button" id="add-to-cart" class="add-to-cart">Add to Cart</button>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- JS File -->
    <script src="style.js"></script>
  </body>
</html>